body{
	font-family:					helvetica,arial,sans-serif;
	font-size:						100%;
	background:						#ebebeb;
	color:							#222;
	padding:						35px;
}
a{
	color:							#333;
	font-size:						12px;
}
.notice{
	position:						absolute;
	z-index:						9999;
	padding:						15px;
	background:						#777;
	opacity:						0.75;
	border:							15px solid #444;
	width:							500px;
	height:							100px;
	margin:							auto;
	text-align:						center;
}
.back{
	float:							right;
	margin:							0 -20px 5px 0;
	text-transform:					uppercase;
}
#wrapper{
	width:							900px;
	margin:							auto;
}
#admin_nav{
	float:							left;
	width:							100%;
	margin:							0;
	padding:						0;
}
#admin_nav li{
	display:						inline;
	float:							left;
	border-top:						1px solid #4e4e4e;
	border-right:					1px solid #4e4e4e;
	border-left:					1px solid #4e4e4e;
	margin:							0 2px 0 0;
}
#admin_nav li .active{
	display:						block;
	float:							left;
	text-decoration:				none;
	font-size:						12px;
	padding:						5px 10px;
	text-transform:					uppercase;
	background:						#4e4e4e;
	color:							#fff;
}
#admin_nav li a{
	display:						block;
	float:							left;
	color:							#4e4e4e;
	text-decoration:				none;
	font-size:						12px;
	padding:						5px 10px;
	text-transform:					uppercase;
	background:						#aaa;	
}
#content{
	float:							left;
	width:							100%;
	padding:						10px;
	background:						#4e4e4e;
	font-size:						12px;
	border:							1px solid #4e4e4e;
}
#content_inner{
	float:							left;
	width:							880px;
	padding:						10px;
	background:						#fff;
	border:							1px solid #4e4e4e;
	-webkit-border-radius: 			4px;
	-moz-border-radius:				5px;
}
h1{
	float:							left;
}
table{
	float:							left;
	width:							100%;
	border-collapse:				collapse;
}
table td{
	padding:						4px  8px;
}
tr.row{

}
tr.current_row{
	background:						#ffffaa !important;
	cursor:							default;
}