<h1>Manage Designs</h1>

<% if @user_designs.first != nil %>
	<p>
  	<b>Designs:</b>
	</p>
	<table>
	<% @user_designs.sort_by(&:created_at).reverse.in_groups_of(3) do |designs| %>
		<tr>
			<% designs.each do |design| %>
				<td>
					<% unless design == nil %>
						<%= design.name %><br />
						<%= link_to (image_tag design.design_picture.url(:preview), :border => 0), view_designs_url(:id => design.id) %>
						<% end %>
				</td>
			<% end %>
		</tr>
	<% end %>
	</table>
<% else %>
	<p>This person hasn't uploaded any designs yet! Hopefully they'll start sharing soon.</p>
<% end %>